*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
header{
    width: 100%;
    height: 550px;
    background: url(../imagenes/manos.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 10px;    
    h1{
        font-size: 50px;
    }
    p{
        font-size: 35px;
    }
}

/* Body */

body{
    color: black;
    font-family: 'Roboto', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container-fluid{
    width: 91.26%;
    margin: auto;
}

.container{
    width: 90%;
    margin: auto;
}

hr{
    margin: 0;
}

/* Texto separador */
.texto_separador{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
    background-image: linear-gradient( rgba(219, 219, 219, 0.5), white);
    border-radius: 10px;
    p{
        margin-top: 50px;
    }
}

/* Boton de mas productos */

.mas_productos{
    margin: 50px;
    display: flex;
    justify-content: center;
    transition: all 1s;
    &:hover{
        transform: scale(1.2);
    }
}

/* Banner */
.banner{
    width: 100%;
    height: 550px;
    background: url(../imagenes/banner.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
    border-radius: 10px;
    h4{
        font-size: 40px;
        width: 40%;
        margin-left: 950px;
    }
    p{
        font-size: 30px;
        width: 40%;
        margin-left: 850px;
    }
}

/* Seccion de interes */

.carousel{
    width: 700px;
    margin-left: 100px;
    h5{
        color: black;
        font-size: 30px;    
    }
    p{
        color: black;
        font-size: 20px;
    }
}

.mas_vendido{
    display: flex;
    align-items: center;
    justify-content: center;
    .mas_vendido-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        h5{
            font-size: 40px;
        }
        p{
            font-size: 25px;
        }
    }
}

.row{
    margin-top: 50px;
}

iframe{
    width: 700px;
    height: 437.5px;
}

.btn_interes{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #f7f3f3;
    color: black;
    font-size: 20px;
    border: 1px solid black
}

.btn_interes:hover{
    opacity: 0.7;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}