.nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: white;
    margin: 0;
    ul{
        display: flex;
        margin: 0;
        li{
            padding: 10px;
            margin: 0;
            &:hover{
                border-bottom: 2px solid black;
            }
        }
    }
}

.nav_sticky{
    position: sticky;
    top: 0%;
    z-index: 2;
}

.nav_logo{
    margin-right: 270px;
    width: 100px;
}

.nav_menu{
    font-size: 15px;
    margin: 0;
}