.banner_nosotros{
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    img{
        width: 500px;
    }
}

.parent {
    background-image: linear-gradient( rgba(219, 219, 219, 0.5), white);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 30px 0;
    h2{
        margin-bottom: 20px;
    }
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        display: flex;
        justify-content: center;
        margin-left: 200px;
        margin-top: 20px;
        img{
            width: 400px;
            border-radius: 5px;
        }
    }
    .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        margin-right: 200px;
        margin-top: 20px;
    }
    .div3 {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        margin-left: 250px;
    }
    .div4 {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 200px;
        img{
            width: 400px;
            border-radius: 5px;
        }
    }
    .div5 { 
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 200px;
        img{
            width: 400px;
            border-radius: 5px;
        }
    }
    .div6 { 
        grid-area: 3 / 2 / 4 / 3; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        margin-right: 200px;
    }
}