.sec_noticias{
    background-image: linear-gradient(rgb(219, 219, 219,), white);
    border-radius: 10px;
    margin-top: 10px;
    .actualidad{
        @include flex-column-center;
        h1{
        font-size: 30px;
        margin: 25px 0;
        }
    }
}

.noticias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 50px;
    margin-bottom: 50px;
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    h2{
        font-size: 15px;
        padding: 0 70px;
        &:hover{
            opacity: 0.5;
            transform: scale(0.9);
        }
    }
    img{
        width: 400px;
        border-radius: 10px;
        &:hover{
            opacity: 0.5;
            transform: scale(0.9);
        }
    }
}


