.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-image: linear-gradient(to top, rgb(219, 219, 219,), white);
    border-radius: 10px;
    .listas{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        h3{
            margin: 20px;
        }
        ul{
            line-height: 3;
        }
    }
}

$productos:(
    producto1: rgb(80, 80, 80),
    producto2: rgb(44, 44, 44),
    producto3: black,
);

@each $producto, $color in $productos{
    .mapeo--#{$producto}{
        color: $color;
    }
};

.productos img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 1s;
    &:hover{
        transform: scale(1.2);
    }
}