.texto_productos{
    margin-top: 10px;
    background-image: linear-gradient(rgb(219, 219, 219,), white);
    border-radius: 10px;
    h1, h2{
        @include flex-column-center;
        line-height: 2;
        h1{
            font-size: 50px;
        }
        h2{
            font-size: 30px;
            margin-bottom: 50px;
        }
    }
}

.seccion_productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}

.lista_productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-right: 200px;
}

.nav_ver{
    margin-left: 250px;
    ul li{
        padding-left: 42px;
        font-size: 25px;
        border: 1px solid black;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-right:100px;
    }
}

.lista_productos img{
    width: 300px;
    border-radius: 5px;
}

.img_o, .img_h, .img_i, .img_e{
    height: 300px;
}

.lista_productos-centrado{
    @include flex-column-center;
    font-size: 20px;
    h3{
        margin-top: 10px;
    }
}

.btn_carro{
    @extend .btn_interes;
    padding: 5px 5px;
    margin: 10px;
}