@import "nav";
@import "general";
@import "proDestacados";
@import "footer";
@import "productos";
@import "noticias";
@import "nosotros";
@import "contacto";

/* NOTEBOOK */

@media (max-width: 1200px){
    .texto_separador h2{
        text-align: center;
    }

    .banner{
        h4, p{
            margin: 0;
            font-size: 30px;
            text-align: center;
        }
    }

    .carousel{
        width: 100%;
        margin: 0;
    }

    .js-photo-page-video-iframe{
        width: 100%;
    }

    .carousel{
        width: 100%;
        margin: 0;
    }

    .js-photo-page-video-iframe{
        width: 100%;
    }

    .footer_menu{
        .footer_logo{
            width: 150px;
        }
        ul li a{
            font-size: 20px;
        }
        .social a i{
            font-size: 1.5rem;
        }
    }

    /* SECCION PRODUCTOS */
    
    .seccion_productos{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    }

    .lista_productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        }

    .nav_ver{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        ul li{
            font-size: 20px;
            margin-right: 0;
            padding: 0 20px;
        }
    }

    /* SECCION NOTICIAS */
    .noticias{
        img{
            width: 90%;
        }
    }

    /* SECCION NOSOTROS */
    .parent{
        .div1, .div2{
            margin: 20px 0;
        }
        .div3, .div4, .div5, .div6{
            margin: 0;
            padding: 0;
        }
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        .div1, .div4, .div5{
            img{
                width: 400px;
            }
        }

    }
}

/* TABLET */

@media (max-width: 768px){

    .nav_logo{
        margin-right: 0;
        width: 0px;
    }

    .nav_main ul li{
        padding: 20px;
    }

    header{
        h1{
            font-size: 35px;
        }
        p{
            font-size: 30px;
            text-align: center;
        }
    }

    .btn{
        font-size: 15px;
    }

    .texto_separador h2{
        text-align: center;
    }

    .productos{
        grid-template-columns: repeat(1, 1fr);
    }

    .banner{
        h4, p{
            margin: 0;
            font-size: 30px;
            text-align: center;
        }
    }

    .carousel{
        width: 100%;
        margin: 0;
    }

    .js-photo-page-video-iframe{
        width: 100%;
    }

    .footer_menu{
        flex-direction: column;
        .footer_logo{
            width: 150px;
        }
        ul li a{
            font-size: 20px;
        }
        .social a i{
            font-size: 1.5rem;
        }
    }

    /* SECCION PRODUCTOS */

    .texto_productos h1,
    .texto_productos h2{
        font-size: 30px;
    }

    .seccion_productos{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    }

    .lista_productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        }

    .nav_ver ul li{
        font-size: 20px;
        margin-right: 0;
        padding: 0 20px;
    }

    /* SECCION NOTICIAS */

    .noticias{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        img{
            width: 90%;
        }
    }

    /* SECCION NOSOTROS */
    .parent{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 0.5fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .div1 { grid-area: 1 / 1 / 2 / 2; 
        margin-top: 20px;
        margin-left: 0;
        }
        .div2 { grid-area: 2 / 1 / 3 / 2; 
            margin: 0;
        }
        .div3 { grid-area: 4 / 1 / 5 / 2; 
            margin: 0;
        }
        .div4 { grid-area: 3 / 1 / 4 / 2; 
            margin: 0;
        }
        .div5 { grid-area: 5 / 1 / 6 / 2; 
            margin: 0;
        }
        .div6 { grid-area: 6 / 1 / 7 / 2; 
            margin: 0;
        }
    }

    /* SECCION CONTACTO */
    .contactanos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr repeat(5, 0.5fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        h2{
            font-size: 25px;
            margin: 20px 0;
        }
        p{
            font-size: 20px;
        }
        }
        
        .contacto1 { grid-area: 1 / 1 / 3 / 2;
            .contacto_a{
                padding: 0;
            }
            img{
                width: 100%;
            }}
        .contacto2 { grid-area: 3 / 1 / 4 / 2; 
            background-image: linear-gradient( rgba(219, 219, 219, 0.5), white);
        }
        .contacto3 { grid-area: 4 / 1 / 5 / 2; 
            background-image: none;
        }
        .contacto4 { grid-area: 6 / 1 / 7 / 2; }
        .contacto5 { grid-area: 5 / 1 / 6 / 2; 
            margin-bottom: 20px;
        }

}

/* MOBILE */

@media (max-width: 360px){
    .nav_main ul li{
        padding: 2px;
        font-size: 12px;
    }
    
    header{
        h1{
            font-size: 30px;
        }
        p{
            font-size: 25px;
            text-align: center;
        }
    }

    .texto_separador h2, p{
        font-size: 20px;
    }

    .productos{
        img{
            width: 200px;
            height: 200px;
        }
    }

    .banner{
        h2{
            font-size: 25px;
            text-align: center;
        }
        p{
            font-size: 20px;
        }
    }

    .mas_vendido{
        .mas_vendido-items{
            h5{
                font-size: 30px;
                text-align: center;
            }
            p{
                font-size: 25px;
                text-align: center;
            }
        }
    }

    iframe{
        width: 200px;
        height: 200px;
    }

    .footer_logo{
        width: 100px;
    }

    footer{
        .footer_menu{
            ul{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 0;
                li{
                    padding: 0;
                    a{
                        font-size: 15px;
                    }
                    &:hover{
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }

    /* SECCION PRODUCTOS */

    .texto_productos h1,
    .texto_productos h2{
        font-size: 25px;
    }

    .nav_ver{
        display: flex;
        flex-direction: column;
        margin: 0 100px;
        ul{
            li{
                margin: 10px 0;
                padding: 0 25px;
            }
        }
        
    }

    .seccion_productos{
        display: flex;
        flex-direction: column;
        margin: 0;
    }


    .lista_productos{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        gap: 0;
        img{
            width: 200px;
            height: 200px;
        }
    }

    /* SECCION NOTICIAS */
    .noticias{
        display: grid;
        grid-template-columns: 1fr;
        img{
            width: 90%;
        }
    }

    /* SECCION NOSOTROS */
    .banner_nosotros{
        img{
            width: 80%;
        }
    }

    .parent{
        gap: 20px;
        text-align: center;
        .div1{
            img{
                width: 90%;
            }
        }
        .div2, .div3, .div6{
            padding: 0;
            p{
                font-size: 16px;
            }
        }
        .div4{
            img{
                width: 90%;
            }
        }
        .div5{
            img{
                width: 90%;
            }
        }
    }

    /* SECCION CONTACTO */
    .contactanos{
        h2{
            font-size: 20px;
            margin: 20px 0;
        }
        p{
            font-size: 15px;
        }
        .contacto1{
            display: flex;
            flex-direction: column;
            .contacto_b{
                display: flex;
                justify-content: center;
                img{
                    width: 50%;
                }
            }
        }
        .contacto2, .contacto3{
            padding: 0; 
        }
        .contacto4{
            iframe{
                width: 100%;
            }
        }
        .contacto5{
            form{
                width: 100%;
            }
        }
    }
}
