@import "nav";
@import "general";
@import "proDestacados";
@import "footer";
@import "productos";
@import "noticias";
@import "nosotros";
@import "contacto";

/* MOBILE */

@media (max-width: 768px){

    .nav_logo{
        margin-right: 0;
        width: 0px;
    }

    .nav_main ul li{
        padding: 20px;
    }

    .texto{
        font-size: 30px;
        margin-left: 500px;
        text-align: center;
    }

    .btn{
        font-size: 15px;
    }

    .texto_separador h2{
        text-align: center;
    }

    .productos{
        grid-template-columns: repeat(1, 1fr);
    }

    .banner{
        h4, p{
            margin: 0;
            font-size: 30px;
            text-align: center;
        }
    }

    .carousel{
        width: 100%;
        margin: 0;
    }

    .js-photo-page-video-iframe{
        width: 100%;
    }

    .footer_menu{
        flex-direction: column;
        .footer_logo{
            width: 150px;
        }
        ul li a{
            font-size: 20px;
        }
        .social a i{
            font-size: 1.5rem;
        }
    }

    /* SECCION PRODUCTOS */

    .texto_productos h1,
    .texto_productos h2{
        font-size: 30px;
    }

    .seccion_productos{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    }

    .lista_productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 12px;
        }

    .nav_ver ul li{
        padding-left: 42px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-right: 450px;
    }

    /* SECCION NOTICIAS */

    .noticias{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        img{
            width: 100%;
        }
    }

    /* SECCION NOSOTROS */
    .parent{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 0.5fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .div1 { grid-area: 1 / 1 / 2 / 2; 
        margin-top: 20px;
        margin-left: 0;
        }
        .div2 { grid-area: 2 / 1 / 3 / 2; 
            margin: 0;
        }
        .div3 { grid-area: 4 / 1 / 5 / 2; 
            margin: 0;
        }
        .div4 { grid-area: 3 / 1 / 4 / 2; 
            margin: 0;
        }
        .div5 { grid-area: 5 / 1 / 6 / 2; 
            margin: 0;
        }
        .div6 { grid-area: 6 / 1 / 7 / 2; 
            margin: 0;
        }
    }

    /* SECCION CONTACTO */
    .contactanos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr repeat(5, 0.5fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .contacto1 { grid-area: 1 / 1 / 3 / 2;
            .contacto_a{
                padding: 0;
            }
            img{
                width: 100%;
            }}
        .contacto2 { grid-area: 3 / 1 / 4 / 2; 
            background-image: linear-gradient( rgba(219, 219, 219, 0.5), white);
        }
        .contacto3 { grid-area: 4 / 1 / 5 / 2; 
            background-image: none;
        }
        .contacto4 { grid-area: 6 / 1 / 7 / 2; }
        .contacto5 { grid-area: 5 / 1 / 6 / 2; 
            margin-bottom: 20px;
        }

}

@media (max-width: 360px){
    .nav_main ul li{
        padding: 2px;
        font-size: 12px;
    }

    .texto_separador h3, p{
        font-size: 20px;
    }

    .banner_h4, .banner_p{
        font-size: 20px;
    }

    .footer_logo{
        width: 100px;
    }

    .footer_menu ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_menu ul li{
        font-size: 15px;
    }

    /* SECCION PRODUCTOS */

    .texto_productos h1,
    .texto_productos h2{
        font-size: 25px;
    }

    .seccion_productos{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    }

    .lista_productos{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-right: 200px;    
    }

    .nav_ver{
        margin: 0;
    }

    .nav_ver ul{
        width: 61.5%;
    }
    
    .nav_ver ul li{
        padding-left: 42px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-right:150px;
    }
}