.nav_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  background-color: white;
  margin: 0; }
  .nav_main ul {
    display: flex;
    margin: 0; }
    .nav_main ul li {
      padding: 10px;
      margin: 0; }
      .nav_main ul li:hover {
        border-bottom: 2px solid black; }

.nav_sticky {
  position: sticky;
  top: 0%;
  z-index: 2; }

.nav_logo {
  margin-right: 270px;
  width: 100px; }

.nav_menu {
  font-size: 15px;
  margin: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Header */
header {
  width: 100%;
  height: 550px;
  background: url(../imagenes/manos.jpg) no-repeat center center/cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 10px; }

.texto {
  margin-right: 500px;
  font-size: 40px; }

/* Body */
body {
  color: black;
  font-family: 'Roboto', sans-serif; }

a {
  color: black;
  text-decoration: none; }

ul {
  list-style: none; }

.container-fluid {
  width: 91.5%;
  margin: auto; }

.container {
  width: 90%;
  margin: auto; }

hr {
  margin: 0; }

/* Texto separador */
.texto_separador {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-bottom: 50px;
  background-image: linear-gradient(#dbdbdb, white);
  border-radius: 10px; }
  .texto_separador p {
    margin-top: 50px; }

/* Boton de mas productos */
.mas_productos {
  margin: 50px;
  display: flex;
  justify-content: center;
  transition: all 1s; }
  .mas_productos:hover {
    transform: scale(1.2); }

/* Banner */
.banner {
  width: 100%;
  height: 550px;
  background: url(../imagenes/banner.jpg) no-repeat center center/cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
  border-radius: 10px; }
  .banner h4 {
    font-size: 40px;
    width: 40%;
    margin-left: 950px; }
  .banner p {
    font-size: 30px;
    width: 40%;
    margin-left: 850px; }

/* Seccion de interes */
.carousel {
  width: 700px;
  margin-left: 100px; }

.mas_vendido {
  display: flex;
  align-items: center;
  justify-content: center; }
  .mas_vendido .mas_vendido-items {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mas_vendido .mas_vendido-items h5 {
      font-size: 40px; }
    .mas_vendido .mas_vendido-items p {
      font-size: 25px; }

.row {
  margin-top: 50px; }

iframe {
  width: 700px;
  height: 437.5px; }

.btn_interes, .btn_carro {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #f7f3f3;
  color: black;
  font-size: 20px;
  border: 1px solid black; }

.btn_interes:hover, .btn_carro:hover {
  opacity: 0.7; }

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(to top, #dbdbdb, white);
  border-radius: 10px; }
  .productos .listas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px; }
    .productos .listas h3 {
      margin: 20px; }
    .productos .listas ul {
      line-height: 3; }

.mapeo--producto1 {
  color: #505050; }

.mapeo--producto2 {
  color: #2c2c2c; }

.mapeo--producto3 {
  color: black; }

.productos img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 1s; }
  .productos img:hover {
    transform: scale(1.2); }

footer {
  background-color: #dbdbdb;
  margin-top: 10px; }
  footer .footer_menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footer_menu ul {
      display: flex; }
      footer .footer_menu ul li {
        font-size: 30px;
        padding: 20px; }
        footer .footer_menu ul li:hover {
          border-bottom: 2px solid black; }

.footer_logo {
  width: 200px; }

.social a {
  margin: 0 30px; }
  .social a i {
    font-size: 2rem; }

.texto_productos {
  margin-top: 10px;
  background-image: linear-gradient(#dbdbdb, white);
  border-radius: 10px; }
  .texto_productos h1, .texto_productos h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2; }
    .texto_productos h1 h1, .texto_productos h2 h1 {
      font-size: 50px; }
    .texto_productos h1 h2, .texto_productos h2 h2 {
      font-size: 30px;
      margin-bottom: 50px; }

.seccion_productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px; }

.lista_productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-right: 200px; }

.nav_ver {
  margin-left: 250px; }
  .nav_ver ul li {
    padding-left: 42px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 100px; }

.lista_productos img {
  width: 300px;
  border-radius: 5px; }

.img_o, .img_h, .img_i, .img_e {
  height: 300px; }

.lista_productos-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px; }
  .lista_productos-centrado h3 {
    margin-top: 10px; }

.btn_carro {
  padding: 5px 5px;
  margin: 10px; }

/* MOBILE */
@media (max-width: 768px) {
  .nav_logo {
    margin-right: 0;
    width: 0px; }
  .nav_main ul li {
    padding: 20px; }
  .texto {
    font-size: 30px;
    margin-left: 500px;
    text-align: center; }
  .btn {
    font-size: 15px; }
  .texto_separador h3 {
    text-align: center; }
  .productos {
    grid-template-columns: repeat(1, 1fr); }
  .banner_h4, .banner_p {
    margin: 0;
    font-size: 30px;
    text-align: center; }
  .parte_a, .parte_b {
    grid-template-columns: repeat(1, 1fr); }
  .parte_a img, .parte_b iframe {
    width: 100%; }
  .descripcion {
    text-align: center; }
  .footer_menu {
    flex-direction: column; }
  .footer_logo {
    width: 150px; }
  .footer_menu ul li {
    font-size: 20px; }
  .social a i {
    font-size: 1.5rem; }
  /* SECCION PRODUCTOS */
  .texto_productos h1, .texto_productos h2 {
    font-size: 30px; }
  .seccion_productos {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 100px; }
  .lista_productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 12px; }
  .nav_ver ul li {
    padding-left: 42px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 450px; } }

@media (max-width: 360px) {
  .nav_main ul li {
    padding: 2px;
    font-size: 12px; }
  .texto_separador h3, p {
    font-size: 20px; }
  .banner_h4, .banner_p {
    font-size: 20px; }
  .footer_logo {
    width: 100px; }
  .footer_menu ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .footer_menu ul li {
    font-size: 15px; }
  /* SECCION PRODUCTOS */
  .texto_productos h1, .texto_productos h2 {
    font-size: 25px; }
  .seccion_productos {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 100px; }
  .lista_productos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-right: 200px; }
  .nav_ver {
    margin: 0; }
  .nav_ver ul {
    width: 61.5%; }
  .nav_ver ul li {
    padding-left: 42px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 150px; } }
