.nav_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  background-color: white; }
  .nav_main ul {
    display: flex;
    padding: 0;
    margin: 0; }
    .nav_main ul li {
      padding: 10px; }
      .nav_main ul li:hover {
        border-bottom: 1px solid black; }

.nav_sticky {
  position: sticky;
  top: 0%;
  z-index: 2; }

.nav_logo {
  margin-right: 270px;
  width: 100px; }

.nav_menu {
  font-size: 15px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Header */
header {
  width: 100%;
  height: 550px;
  background: url(../imagenes/manos.jpg) no-repeat center center/cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 10px; }
  header h1 {
    font-size: 50px; }
  header p {
    font-size: 35px; }

/* Body */
body {
  color: black;
  font-family: 'Roboto', sans-serif; }

a {
  color: black;
  text-decoration: none; }

ul {
  list-style: none; }

.container-fluid {
  width: 91.26%;
  margin: auto; }

.container {
  width: 90%;
  margin: auto; }

hr {
  margin: 0; }

/* Texto separador */
.texto_separador {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-bottom: 50px;
  background-image: linear-gradient(rgba(219, 219, 219, 0.5), white);
  border-radius: 10px; }
  .texto_separador p {
    margin-top: 50px; }

/* Boton de mas productos */
.mas_productos {
  margin: 50px;
  display: flex;
  justify-content: center;
  transition: all 1s; }
  .mas_productos:hover {
    transform: scale(1.2); }

/* Banner */
.banner {
  width: 100%;
  height: 550px;
  background: url(../imagenes/banner.jpg) no-repeat center center/cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
  border-radius: 10px; }
  .banner h4 {
    font-size: 40px;
    width: 40%;
    margin-left: 950px; }
  .banner p {
    font-size: 30px;
    width: 40%;
    margin-left: 850px; }

/* Seccion de interes */
.carousel {
  width: 700px;
  margin-left: 100px; }

.mas_vendido {
  display: flex;
  align-items: center;
  justify-content: center; }
  .mas_vendido .mas_vendido-items {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mas_vendido .mas_vendido-items h5 {
      font-size: 40px; }
    .mas_vendido .mas_vendido-items p {
      font-size: 25px; }

.row {
  margin-top: 50px; }

iframe {
  width: 700px;
  height: 437.5px; }

.btn_interes, .btn_carro {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #f7f3f3;
  color: black;
  font-size: 20px;
  border: 1px solid black; }

.btn_interes:hover, .btn_carro:hover {
  opacity: 0.7; }

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(to top, rgba(219, 219, 219, 0.5), white);
  border-radius: 10px; }
  .productos .listas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px; }
    .productos .listas h3 {
      margin: 20px; }
    .productos .listas ul {
      padding: 0;
      line-height: 3; }

.mapeo--producto1 {
  color: #505050; }

.mapeo--producto2 {
  color: #2c2c2c; }

.mapeo--producto3 {
  color: black; }

.productos img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 1s; }
  .productos img:hover {
    transform: scale(1.2); }

.btn_destacados {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  background-color: #f7f3f3;
  color: black;
  font-size: 20px;
  border: 1px solid black; }

footer {
  background-color: #dbdbdb;
  margin-top: 10px; }
  footer .footer_menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footer_menu ul {
      display: flex; }
      footer .footer_menu ul li {
        font-size: 30px;
        padding: 20px; }
        footer .footer_menu ul li:hover {
          border-bottom: 2px solid black; }

.footer_logo {
  width: 200px; }

.social a {
  margin: 0 30px; }
  .social a i {
    font-size: 2rem; }

.texto_productos {
  margin-top: 10px;
  background-image: linear-gradient(rgba(219, 219, 219, 0.5), white);
  border-radius: 10px; }
  .texto_productos h1, .texto_productos h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2; }
    .texto_productos h1 h1, .texto_productos h2 h1 {
      font-size: 50px; }
    .texto_productos h1 h2, .texto_productos h2 h2 {
      font-size: 30px;
      margin-bottom: 50px; }

.seccion_productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px; }

.lista_productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-right: 200px; }

.nav_ver {
  margin-left: 250px; }
  .nav_ver ul li {
    padding-left: 42px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 100px; }

.lista_productos img {
  width: 300px;
  border-radius: 5px; }

.img_o, .img_h, .img_i, .img_e {
  height: 300px; }

.lista_productos-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px; }
  .lista_productos-centrado h3 {
    margin-top: 10px; }

.btn_carro {
  padding: 5px 5px;
  margin: 10px; }

.sec_noticias {
  background-image: linear-gradient(rgba(219, 219, 219, 0.5), white);
  border-radius: 10px;
  margin-top: 10px; }
  .sec_noticias .actualidad {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sec_noticias .actualidad h1 {
      font-size: 30px;
      margin: 25px 0; }

.noticias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 50px;
  margin-bottom: 50px; }
  .noticias .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .noticias h2 {
    font-size: 15px;
    padding: 0 70px; }
    .noticias h2:hover {
      opacity: 0.5;
      transform: scale(0.9); }
  .noticias img {
    width: 400px;
    border-radius: 10px; }
    .noticias img:hover {
      opacity: 0.5;
      transform: scale(0.9); }

.banner_nosotros {
  background-color: #dbdbdb;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: center; }
  .banner_nosotros img {
    width: 500px; }

.parent {
  background-image: linear-gradient(rgba(219, 219, 219, 0.5), white);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 30px 0; }
  .parent h2 {
    margin-bottom: 20px; }
  .parent .div1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-top: 20px; }
    .parent .div1 img {
      width: 400px;
      border-radius: 5px; }
  .parent .div2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    margin-right: 200px;
    margin-top: 20px; }
  .parent .div3 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    margin-left: 250px; }
  .parent .div4 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px; }
    .parent .div4 img {
      width: 400px;
      border-radius: 5px; }
  .parent .div5 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px; }
    .parent .div5 img {
      width: 400px;
      border-radius: 5px; }
  .parent .div6 {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    margin-right: 200px; }

.contactanos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin-top: 10px;
  margin-bottom: 30px; }

.contacto1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #dbdbdb;
  display: flex;
  border-radius: 10px; }
  .contacto1 .contacto_a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 100px; }
    .contacto1 .contacto_a h2 {
      font-size: 30px;
      margin: 20px 0; }
    .contacto1 .contacto_a p {
      font-size: 15px; }
  .contacto1 .contacto_b {
    display: flex;
    align-content: center;
    margin: auto; }

.contacto2 {
  grid-area: 2 / 1 / 3 / 2;
  background-image: linear-gradient(rgba(219, 219, 219, 0.5), white);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 150px; }

.contacto3 {
  grid-area: 2 / 2 / 3 / 3;
  background-image: linear-gradient(rgba(219, 219, 219, 0.5), white);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 150px; }

.contacto4 {
  grid-area: 3 / 1 / 4 / 2;
  margin: auto; }
  .contacto4 iframe {
    width: 450px;
    height: 400px; }

.contacto5 {
  grid-area: 3 / 2 / 4 / 3; }
  .contacto5 form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px; }
    .contacto5 form h2 {
      text-align: center;
      font-size: 30px;
      margin-bottom: 10px; }
    .contacto5 form input, .contacto5 form textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 5px;
      box-sizing: border-box;
      font-size: 15px;
      border: none; }
    .contacto5 form textarea {
      min-height: 100px;
      max-height: 200px;
      max-width: 100%;
      min-width: 100%; }
    .contacto5 form #boton {
      background: #31384a;
      color: #fff;
      padding: 20px; }
      .contacto5 form #boton:hover {
        cursor: pointer; }

/* TABLET */
@media (max-width: 768px) {
  .nav_logo {
    margin-right: 0;
    width: 0px; }
  .nav_main ul li {
    padding: 20px; }
  header h1 {
    font-size: 35px; }
  header p {
    font-size: 30px;
    text-align: center; }
  .btn {
    font-size: 15px; }
  .texto_separador h2 {
    text-align: center; }
  .productos {
    grid-template-columns: repeat(1, 1fr); }
  .banner h4, .banner p {
    margin: 0;
    font-size: 30px;
    text-align: center; }
  .carousel {
    width: 100%;
    margin: 0; }
  .js-photo-page-video-iframe {
    width: 100%; }
  .footer_menu {
    flex-direction: column; }
    .footer_menu .footer_logo {
      width: 150px; }
    .footer_menu ul li a {
      font-size: 20px; }
    .footer_menu .social a i {
      font-size: 1.5rem; }
  /* SECCION PRODUCTOS */
  .texto_productos h1, .texto_productos h2 {
    font-size: 30px; }
  .seccion_productos {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 100px; }
  .lista_productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 12px; }
  .nav_ver ul li {
    padding-left: 42px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 450px; }
  /* SECCION NOTICIAS */
  .noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .noticias img {
      width: 90%; }
  /* SECCION NOSOTROS */
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
    .parent .div1 {
      grid-area: 1 / 1 / 2 / 2;
      margin-top: 20px;
      margin-left: 0; }
    .parent .div2 {
      grid-area: 2 / 1 / 3 / 2;
      margin: 0; }
    .parent .div3 {
      grid-area: 4 / 1 / 5 / 2;
      margin: 0; }
    .parent .div4 {
      grid-area: 3 / 1 / 4 / 2;
      margin: 0; }
    .parent .div5 {
      grid-area: 5 / 1 / 6 / 2;
      margin: 0; }
    .parent .div6 {
      grid-area: 6 / 1 / 7 / 2;
      margin: 0; }
  /* SECCION CONTACTO */
  .contactanos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr repeat(5, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  .contacto1 {
    grid-area: 1 / 1 / 3 / 2; }
    .contacto1 .contacto_a {
      padding: 0; }
    .contacto1 img {
      width: 100%; }
  .contacto2 {
    grid-area: 3 / 1 / 4 / 2;
    background-image: linear-gradient(rgba(219, 219, 219, 0.5), white); }
  .contacto3 {
    grid-area: 4 / 1 / 5 / 2;
    background-image: none; }
  .contacto4 {
    grid-area: 6 / 1 / 7 / 2; }
  .contacto5 {
    grid-area: 5 / 1 / 6 / 2;
    margin-bottom: 20px; } }

/* MOBILE */
@media (max-width: 360px) {
  .nav_main ul li {
    padding: 2px;
    font-size: 12px; }
  header h1 {
    font-size: 30px; }
  header p {
    font-size: 25px;
    text-align: center; }
  .texto_separador h2, p {
    font-size: 20px; }
  .productos img {
    width: 200px;
    height: 200px; }
  .banner h2 {
    font-size: 25px;
    text-align: center; }
  .banner p {
    font-size: 20px; }
  .mas_vendido .mas_vendido-items h5 {
    font-size: 30px;
    text-align: center; }
  .mas_vendido .mas_vendido-items p {
    font-size: 25px;
    text-align: center; }
  iframe {
    width: 200px;
    height: 200px; }
  .footer_logo {
    width: 100px; }
  footer .footer_menu ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0; }
    footer .footer_menu ul li {
      padding: 0; }
      footer .footer_menu ul li a {
        font-size: 15px; }
      footer .footer_menu ul li:hover {
        border-bottom: 1px solid black; }
  /* SECCION PRODUCTOS */
  .texto_productos h1, .texto_productos h2 {
    font-size: 25px; }
  .nav_ver {
    display: flex;
    flex-direction: column;
    margin: 0 100px; }
    .nav_ver ul li {
      margin: 10px 0;
      padding: 0 25px; }
  .seccion_productos {
    display: flex;
    flex-direction: column;
    margin: 0; }
  .lista_productos {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    gap: 0; }
    .lista_productos img {
      width: 200px;
      height: 200px; }
  /* SECCION NOTICIAS */
  .noticias {
    display: grid;
    grid-template-columns: 1fr; }
    .noticias img {
      width: 90%; }
  /* SECCION NOSOTROS */
  .banner_nosotros img {
    width: 80%; }
  .parent {
    gap: 20px;
    text-align: center; }
    .parent .div1 img {
      width: 90%; }
    .parent .div2, .parent .div3, .parent .div6 {
      padding: 0; }
      .parent .div2 p, .parent .div3 p, .parent .div6 p {
        font-size: 16px; }
    .parent .div4 img {
      width: 90%; }
    .parent .div5 img {
      width: 90%; }
  /* SECCION CONTACTO */
  .contactanos .contacto1 {
    display: flex;
    flex-direction: column; }
    .contactanos .contacto1 .contacto_a h2 {
      margin: 10px 0; }
    .contactanos .contacto1 .contacto_b {
      display: flex;
      justify-content: center; }
      .contactanos .contacto1 .contacto_b img {
        width: 50%; }
  .contactanos .contacto2, .contactanos .contacto3 {
    padding: 0; }
    .contactanos .contacto2 h2, .contactanos .contacto3 h2 {
      font-size: 25px; }
    .contactanos .contacto2 p, .contactanos .contacto3 p {
      font-size: 15px; }
  .contactanos .contacto4 iframe {
    width: 100%; }
  .contactanos .contacto5 form {
    width: 100%; } }
